<div class='gzd_table' id='itemdiv'>
  <table width='100%' class='two' cellspacing='0' cellpadding='0' align='center'>
    <tbody>
    <tr>
      <th width='15%'>事项名称</th>
      <td colspan='5' id='ql_name'>{0}</td>
    </tr>
    <tr>
      <th width='15%'>业务名称</th>
      <td colspan='5' id='ql_yw_name'>{1}</td>
    </tr>
    <tr>
      <th width='15%'>事项编码</th>
      <td colspan='3' id='item_code'>{2}</td>
      <th width='15%'>权力来源</th>
      <td width='15%' id='itemsource'>{3}</td>
    </tr>
    <tr>
      <th width='15%'>职权类型</th>
      <td width='15%' id='ql_kind'>{4}</td>
      <th width='15%'>行使层级</th>
      <td width='15%' id='shiquancj'>{5}</td>
      <th width='15%'>办理类型</th>
      <td width='15%' id='bjtype'>{6}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>服务对象及领域</th>
      <td id='ql_object'>{7}</td>
      <th>法定时限</th>
      <td id='fdsx'>{8}</td>
      <th>承诺时限</th>
      <td id='cnsx'>{9}</td>
    </tr>
    <tr style='display: table-row;'>

      <th>期限说明</th>
      <td colspan='5' id='sxsm'>{10}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>审批依据</th>
      <td colspan='5' id='lawbasis'>
        {11}
      </td>
    </tr>
    <tr style='display: table-row;'>
      <th>权限划分</th>
      <td colspan='5' id='qxhf'>{12}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>受理机构</th>
      <td colspan='3' id='sljg'>{13}</td>
      <th>机构性质</th>
      <td id='sljgxz'>{14}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>决定机构</th>
      <td colspan='3' id='jdjg'>{15}</td>
      <th>机构性质</th>
      <td id='jdjgxz'>{16}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>通办范围</th>
      <td id='tongbanmode'>{17}</td>
      <th>联合审批</th>
      <td id='sflhsp'>{18}</td>
      <th>办理形式</th>
      <td id='blxs'>{19}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>支持预约办理</th>
      <td id='if_appoint'>{20}</td>
      <th>支持物流快递</th>
      <td id='if_ems'>{21}</td>
      <th>集中办理</th>
      <td id='sfjzbl'>{22}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>适用范围</th>
      <td colspan='5' id='syfw'>{23}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>禁止性要求</th>
      <td colspan='5' id='jzxyq'>
        {24}
      </td>
    </tr>
    <tr style='display: table-row;'>
      <th>定期检验及依据</th>
      <td colspan='5' id='dqjyjyj'>{25}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>办理公示</th>
      <td colspan='5' id='blgs'>{26}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>办理查询</th>
      <td colspan='5' id='blcx'>{27}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>办理地点</th>
      <td colspan='3' id='accept_address'>
         {28}
      </td>
      <th>办事者到办事地点次数</th>
      <td id='applyermin_count'>{29}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>工作时间</th>
      <td colspan='5' id='accept_time'>{30}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>咨询联系电话</th>
      <td colspan='5' id='link_tel'>{31}</td>
    </tr>
    <tr style='display: table-row;'>
      <th>监督投诉渠道</th>
      <td colspan='5' id='supervise_tel'>{32}</td>
    </tr>
    </tbody>
  </table>
</div>
